.productdsiplay{
      display: flex;
      margin: 0px 140px;
}
.productdsiplay-left{
      display: flex;
      gap: 17px;
}
.productdsiplay-img-list{
      display: flex;
      flex-direction: column;
      gap: 16px;
}
.productdsiplay-img-list img{
      height: 163px;
}
.productdsiplay-main-img{
      width: 560px;
      height: 700px;
}
.productdsiplay-right{
      margin: 0px 70px;
      display: flex;
      flex-direction: column;
}
.productdsiplay-right h1{
      color: #3d3d3d;
      font-size: 30px;
      font-weight: 700;
}
.productdsiplay-right-stars{
      display: flex;
      align-items: center;
      margin-top: 8px;
      gap: 5px;
      color: #1c1c1c;
      font-size: 16px;
}
.productdsiplay-right-prices{
      display: flex;
      margin: 40px 0px;
      gap: 30px;
      font-size: 24px;
      font-weight: 700;
}
.productdsiplay-right-prices-old{
      color: #818181;
      text-decoration: line-through;
}
.productdsiplay-right-prices-new{
      color: #ff4141;
}
.productdsiplay-right-size h1{
      margin-top: 55px;
      color: #656565;
      font-size: 20px;
      font-weight: 600;
}
.productdsiplay-right-sizes{
      display: flex;
      margin: 30px 0px;
      gap: 20px;
}
.productdsiplay-right-sizes div{
      padding: 18px 24px;
      background: #fbfbfb;
      border: 1px solid #ebebeb;
      border-radius: 3px;
      cursor: pointer;
}
.productdsiplay-right button{
      padding: 20px 40px;
      width: 200px;
      font-size: 16px;
      font-weight: 600;
      color: white;
      background: #ff4141;
      margin-bottom: 40px;
      border: none;
      outline: none;
      cursor: pointer;
}
.productdsiplay-right-category{
      margin-top: 10px;
}
.productdsiplay-right-category span{
      font-weight: 600;
}
@media(max-width:1280px){
      .productdsiplay{
            margin: 0px 60px;
      }
      .productdsiplay-left{
            gap: 10px;
      }
      .productdsiplay-img-list{
            gap: 10px;
      }
      .productdsiplay-img-list img{
            height: 120px;
      }
      .productdsiplay-main-img{
            width: auto;
            height: 510px;
      }
      .productdsiplay-right{
            margin: 0px 30px;
      }
      .productdsiplay-right h1{
            font-size: 22px;
      }
      .productdsiplay-right-stars{
            gap: 3px;
            font-size: 13px;
      }
      .productdsiplay-right-prices{
            margin: 10px 0px;
            font-size: 18px;
      }
      .productdsiplay-right-description{
            font-size: 13px;
      }
      .productdsiplay-right-size h1{
            margin-top: 20px;
            font-size: 20px;
      }
      .productdsiplay-right-sizes div{
            padding: 14px 20px;
      }
      .productdsiplay-right button{
            width: 150px;
            padding: 15px 0px;
            margin-bottom: 20px;
      }
      .productdsiplay-right-category{
            margin-top: 5px;
            font-size: 14px;
      }
}
@media(max-width:1024px){
      .productdsiplay{
            margin: 0px 30px;
      }
      .productdsiplay-left{
            gap: 5px;
      }
      
      .productdsiplay-img-list img{
            height: 80px;
      }
      .productdsiplay-main-img{
            height: 350px;
      }
      
      .productdsiplay-right h1{
            font-size: 18px;
      }
      .productdsiplay-right-stars img{
            width: 15px;
      }
      
      .productdsiplay-right-description{
            font-size: 12px;
      }
      .productdsiplay-right-sizes{
            margin-top: 10px 0px;
      }
      .productdsiplay-right-sizes div{
            padding: 10px 16px;
      }
      .productdsiplay-right button{
            width: 120px;
            padding: 10px 0px;
            margin-bottom: 10px;
      }
      .productdsiplay-right-category{
            font-size: 12px;
      }
}
@media(max-width:800px){
      .productdsiplay{
            margin: 0px 10px;
      }
      .productdsiplay-left{
            gap: 0px;
            flex-direction: column-reverse;
            align-items: center;
      }
      .productdsiplay-img-list{
            display: flex;
            flex-direction: row;
            gap: 6px;
      }
      .productdsiplay-img-list img{
           height: 70px;
      }
      .productdsiplay-main-img{
            height: 300px;
      }
      
      .productdsiplay-right h1{
            font-size: 14px;
      }
      .productdsiplay-right-stars img{
            width: 13px;
      }
      
      .productdsiplay-right-description{
            font-size: 10px;
      }
      .productdsiplay-right-size h1{
            margin-top: 10px;
      }
      .productdsiplay-right-sizes{
            margin-top: 10px;
            gap: 5px;
      }
      .productdsiplay-right-sizes div{
            padding: 4px 11px;
      }
      .productdsiplay-right button{
            width: 100px;
            font-size: 12px;
      }
      .productdsiplay-right-category{
            font-size: 10px;
      }
}
@media(max-width:500px){
      .productdsiplay{
            flex-direction: column;
      }
      .productdsiplay-left{
            gap: 10px;
            flex-direction: row;
            margin: auto;
      }
      .productdsiplay-img-list{
            flex-direction: column;
            gap: 8px;
      }
      .productdsiplay-img-list img{
            height: 75px;
      }
      .productdsiplay-main-img{
            height: 330px;
      }
      .productdsiplay-right{
            margin: 5px;
      }
      .productdsiplay-right h1{
            margin-top: 15px;
            font-size: 20px;
            font-weight: 500;
      }
      .productdsiplay-right-stars img{
            width: 15px;
      }
      .productdsiplay-right-sizes{
            gap: 10px;
            margin: 20px 0px;
      }
      .productdsiplay-right-sizes div{
            padding: 10px 16px;
            font-size: 14px;
      }
      .productdsiplay-right button{
            width: 130px;
            font-size: 15px;
            padding: 12px 0px;
      }
      .productdsiplay-right-category{
            font-size: 16px;
      }
}